Repository rencire/wc-loader: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, format

eslint:
  run: npx eslint {staged_files} --fix

format:
  run: npx prettier --write

chore: added notes.md
  NOTES.md
Due: format

chore: added lefthook tool
  shell.nix
Due: none

chore: added .gitignore
  .gitignore
Due: none

chore: add npm packages for dev workflow
  package-lock.json
  package.json
Due: format

chore: add config files. updated hooks
  .eslintrc.js
  jest.config.js
  lefthook.yml
  prettier.config.js
  tsconfig.json
Due: format

docs: moved notes to readme
  NOTES.md
  README.md
Due: format

refactor: converted to ts
  HelloWorld.wc
  WCLoader.js
  lib/WCLoader.d.ts
  lib/WCLoader.js
  lib/WCLoader.js.map
  src/WCLoader.ts
Due: eslint

docs: added example
  example/HelloWorld.wc
  example/index.html
  example/lib
Due: none

docs: updated readme w/ example instructions
  README.md
Due: format

chore: using niv to add lefthook dependency since its not in nixpkgs channel yet
  nix/default.nix
  nix/lefthook.nix
  nix/sources.json
  nix/sources.nix
  shell.nix
Due: format

docs: added instructions to contribute
  README.md
Due: format

docs: updated docs
  README.md
Due: format

chore: update nix files for clarity
  nix/default.nix
  shell.nix
Due: none

chore: added command to add reformatted files
  lefthook.yml
Due: none

chore: small updates
  .envrc
  README.md
Due: format

chore: cleanup readme. clarify comments. removed ignored lib folder
  .eslintrc.js
  README.md
  lib/WCLoader.js
  lib/WCLoader.js.map
Due: format

chore: ignore lib
  .gitignore
Due: none

docs: added tasks
  README.md
Due: format

docs: more docs
  README.md
Due: format

refactor: moved shadow dom setup to constructor
  src/WCLoader.ts
Due: eslint

chore: updated ts-jest
  package-lock.json
  package.json
Due: format

chore: updated test env
  jest.config.js
Due: none

chore: added ts-jest preset
  jest.config.js
Due: none

chore: remove needlessly tracked file
  lib/WCLoader.d.ts
Due: eslint

test: unit test wip
  src/WCLoader.spec.ts
  src/WCLoader.ts
Due: eslint

chore: use esnext to use dynamic import
  tsconfig.json
Due: format

test: added test to load custom name for web component
  src/WCLoader.spec.ts
Due: eslint

feat: implemented loading custom name
  src/WCLoader.ts
Due: eslint

wip: debugging import issue
  README.md
  example/AllCustom.wc
  example/CustomWithBase.wc
  example/DefaultName.wc
  example/HelloWorld.wc
  example/index.html
  example/test.js
  src/WCLoader.ts
  tsconfig.json
Due: eslint, format

Path conditions:
  eslint: any of: *.{ts,tsx}
  format: any of: *.{json,md}
